<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <location path="." inheritInChildApplications="false">
        <system.webServer>
            <handlers>
                <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
            </handlers>
            <aspNetCore processPath="dotnet" arguments=".\WebClient.Startup.dll" stdoutLogEnabled="false"
                        stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
            <security>
                <requestFiltering>
                    <requestLimits maxAllowedContentLength="2147483648" />
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
</configuration>
<!--ProjectGuid: 08C23273-B1F8-4E31-B423-4EE6B7A68403-->