@inherits LayoutComponentBase
@layout MainLayout

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 mt-3">
            <AdminNav></AdminNav>
        </div>
        <div class="col-lg-9 mt-3">
            @Body
        </div>
    </div>
</div>


