

<div class="border rounded-3 pb-0 p-3 w-100 mt-3">
    <!-- Dashboard menu -->
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item mb-3">
            <NavLink href=@($"admin/organization") class="nav-link" Match="@NavLinkMatch.All">
                <i class="fa-solid fa-building me-2"></i>Organization
            </NavLink>
        </li>
        <li class="nav-item mb-3">
            <NavLink href=@($"admin/users") class="nav-link" Match="@NavLinkMatch.All">
                <i class="fa-solid fa-users me-2"></i>Users
            </NavLink>
        </li>
    
    </ul>
</div>

