@using Microsoft.Extensions.Options

<section id="home" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Solen LMS</h1>
                <h2>an open source Learning Management System</h2>
                <h2>intended for organizations</h2>
            </div>
        </div>
        <div class="text-center">
            <a href="/Signup" class="btn-get-started scrollto">Sign up</a>
        </div>

        <div class="row icon-boxes">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-square-share-nodes"></i></div>
                    <h4 class="title"><a href="">Course & Material Management</a></h4>
                    <p class="description">Create and share courses and materials with your employees or partners.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-chart-line"></i></div>
                    <h4 class="title"><a href="">Tracking learners progress</a></h4>
                    <p class="description">Track the progress of the learners.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="fa-solid fa-user"></i></div>
                    <h4 class="title"><a href="">User Management</a></h4>
                    <p class="description">User management allows you to manage users withing your organization, such as invite, delete, and assign roles.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
                <div class="icon-box">
                    <div class="icon"><i class="fa-brands fa-github"></i></div>
                    <h4 class="title"><a href="https://github.com/iliasHamdaoui/SolenLms">Open source</a></h4>
                    <p class="description">The source code is available on Github.</p>
                </div>
            </div>

        </div>
    </div>
</section>