<div class="table-responsive border-0">
    <table class="table align-middle p-4 mb-0 table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col" class="border-0 rounded-start">Course Title</th>
                <th scope="col" class="border-0">Referent</th>
                <th scope="col" class="border-0">Last update</th>
                <th scope="col" class="border-0 rounded-end">Is Published ?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-12 big"></div>
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-12"></div>
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-12 big"></div>
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-12 big"></div>
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="ph-col-12">
                        <div class="ph-row">
                            <div class="ph-col-4"></div>
                            <div class="ph-col-8 empty"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>


