<div class="mb-3"></div>
<div class="w-100 d-flex flex-column">
    <button class="btn btn-outline-secondary btn-sm mb-2">
        Reset
    </button>
    <div class="ph-item bg-light mb-2">
        <div class="ph-col-12">
            <div class="ph-row">
                <div class="ph-col-12 big"></div>
                <div class="ph-col-12 empty"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
    </div>
    <div class="ph-item bg-light mb-2">
        <div class="ph-col-12">
            <div class="ph-row">
                <div class="ph-col-12 big"></div>
                <div class="ph-col-12 empty"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
    </div>
    <div class="ph-item bg-light mb-2">
        <div class="ph-col-12">
            <div class="ph-row">
                <div class="ph-col-12 big"></div>
                <div class="ph-col-12 empty"></div>
                <div class="ph-col-12"></div>
                <div class="ph-col-12"></div>
            </div>
        </div>
    </div>
</div>




